/*barra de navegacion*/

#navBar {
    background: linear-gradient(to right, #ebebeb 0%, #434343 100%);
    margin-bottom: auto;
    text-decoration-color: black;
}

a[href*="rx236"] {
    color: #000000;
}

body {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block;
    align-items: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*parte de arriba*/

header .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

header .logo img {
    width: 250;
}

header h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.849);
    text-shadow: 2px 2px 4px rgba(107, 107, 107, 0.5);
}

.container {
    width: 1125px;
}


/*news-feed*/

#news-feed .news-blok {
    display: flex;
    width: 100%;
}

#news-feed .news-blok .blok-izqui {
    width: 65%;
}

#news-feed .news-blok .blok-derech {
    width: 35%;
}

#news-feed h1 {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 30px;
}

#news-feed p {
    font-family: sans-serif;
    color: rgb(229, 242, 253);
    font-size: 15px;
}

#news-feed figure {
    position: relative;
}

#news-feed figure img {
    width: 98%;
}

#news-feed iframe {
    width: 99, 9%;
}


/*news parte 2*/

#news-feed2 .news-blok2 {
    display: flex;
    width: 100%;
}

#news-feed2 h1 {
    font-family: sans-serif;
    color: rgb(162, 164, 167);
    font-size: 40px;
}

#news-feed2 h2 {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 15px;
}

#news-feed2 p {
    font-family: sans-serif;
    color: rgb(109, 112, 114);
    font-size: 15px;
}

#news-feed2 a {
    color: red;
    font-size: 15px;
    text-decoration: none;
}

#news-feed2 figure {
    position: relative;
}

#news-feed2 figure img {
    width: 100%;
}

#news-feed2 .news-blok2 .blok-primero {
    width: 34%;
    padding-right: 40px;
}

#news-feed2 .news-blok2 .blok-segundo {
    width: 33%;
    padding-right: 40px;
}

#news-feed2 .news-blok2 .blok-tercero {
    width: 34%;
}


/*news parte 3*/

#news-feed3 h1 {
    font-family: sans-serif;
    color: rgb(162, 164, 167);
    font-size: 40px;
}

#news-feed3 h2 {
    font-family: sans-serif;
    color: aliceblue;
    font-size: 15px;
}

#news-feed3 p {
    font-family: sans-serif;
    color: rgb(109, 112, 114);
    font-size: 15px;
}

#news-feed3 a {
    color: red;
    font-size: 15px;
    text-decoration: none;
}

#news-feed3 .news-blok3 {
    display: flex;
    width: 100%;
}

#news-feed3 .news-blok3 .blok-1 {
    width: 75%;
}

#news-feed3 .news-blok3 .blok-2 {
    width: 25%;
}

.linkPag{
    text-decoration: none;
    margin-left: 45%;
    padding-bottom: 30px;
}