#navBar {
    background: linear-gradient(to right, #9e0505 0%, #000000 100%);
    margin-bottom: auto;
    text-decoration-color: black;
}

a[href*="rx236"] {
    color: #434343;
}

body {
    position: relative;
    height: 100%;
    display: inline-block;
    align-items: center;
    background-color: rgb(189, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}