body{
    background-color: #fff;
}
.container{
    padding-top: 70px;
    display: block;
    display: grid;
    place-items: center;
}
.boton{
    height: 30px;
    width: 80px;
    background-color: black;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 10px;
    -webkit-border-radius: 5px;
    border-radius: 10px;
    margin: 5px 5px;
    position: relative;
}
#botones{
    display: grid;
    place-items: center;
    display: inline-block;
    position: relative;
}